<router-outlet></router-outlet>

<app-comp1 nghost></app-comp1>

<hr />

<app-comp2></app-comp2>

<hr />

<app-comp3></app-comp3>

<hr />
HostBinding<br />
<app-comp4></app-comp4>

<hr />
HostBinding<br />
<app-comp5></app-comp5>

<hr />
:host-context<br />
<app-comp6></app-comp6>

<hr />

:host-context2<br />
<app-comp7></app-comp7>

<hr />

<h2>:host</h2>
- à utiliser pour définir le style de l'élément hôte dans votre feuille de
style<br />
- pratique pour supprimer les éléments HTML inutiles (comme les conteneurs)<br />
- utilisez-le avec des variables CSS pour le rendre personnalisable depuis
l'extérieur du composant.<br />
<br />

<h2>HostBinding</h2>
- permet d'attribuer dynamiquement des classes/styles/attributs à l'élément
hôte<br />
- permet de supprimer les doublons de code dans les CSS et les HTML<br />
- tirer parti des attributs de données pour rendre l'interface utilisateur
dynamique.<br />
<br />

<h2>:host-context</h2>
- permet de définir un style différent pour l'élément hôte en fonction du
contexte d'utilisation<br />
- convient pour adapter l'interface utilisateur à d'autres endroits de
l'application sans dupliquer les composants<br />
<br />

<h2>:host-context2</h2>
- permet de définir un style différent pour l'élément hôte en fonction du
contexte d'utilisation<br />
- convient pour adapter l'interface utilisateur à d'autres endroits de
l'application sans dupliquer les composants<br />
<br />
